.intro {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 6rem;

  &--left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }
  &--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    width: 60%;

    .intro--clip {
      background: linear-gradient(120deg, #6bc641, #6cd3cd);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .intro--italic {
      font-style: italic;
    }
  }
  &--section {
    font-size: 2.6rem;
    word-wrap: break-word;
    break-after: always;
  }
  &--img {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      height: 8rem;
      width: 8rem;
      object-fit: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }
  .img-hand-wave {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
  }
  &--right {
    width: 40%;
  }

  @media (max-width: 768px) {
    display: block;
    width: 100%;
    &--left {
      width: 100% !important;
      margin: 0;
    }
  }
}
