$navbar-height: 50px;
$navbar-padding: 20px;
$active-link-color: red;

.navbar-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar {
    color: var(--background);
    height: $navbar-height;
    padding: 0 $navbar-padding;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    border-radius: 4rem;
    margin-top: 1rem;
    background-color: var(--background);

    box-shadow: 0px 8px 10px -3px var(--box-shadow);

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin: 0 15px;

        color: var(--text-color);
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          color: var(--active-text);
          transition: 0.3s ease-in;
          cursor: pointer;
        }
        .active {
          color: var(--active-text);
          border-bottom: 2px solid var(--active-text);
        }
      }
    }

    .hamburger-icon {
      display: none;
    }

    @media (max-width: 990px) {
      padding: 10px;
      left: 0;
      width: 100%;
      transform: scale(1, 0.1);
      opacity: 0;
      transition: 700ms cubic-bezier(0.25, 0.8, 0.25, 1);

      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        padding: 10px;
        box-shadow: 0px 1px 1px -3px var(--box-shadow);
        background-color: var(--menu-background);
      }

      &.expanded {
        background: transparent;
        box-shadow: none;
        height: 100%;
        transform: scale(1, 1);
        opacity: 1;
        ul {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: 12rem;
          opacity: 1;
        }
      }
      &.collapsed {
        box-shadow: none;
        background: no-repeat;
        position: sticky !important;
        ul {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: 12rem;
          opacity: 0.8;
        }
      }
    }
  }
}
.hamburger-icon {
  display: none;
}

.navbar-display {
  visibility: hidden !important;
}

.darkmode-icon {
  position: fixed !important;
  top: 1rem;
  right: 1rem;
  z-index: 9997;
}

@media (max-width: 990px) {
  .darkmode-icon {
    position: absolute;
    top: 0;
    right: 1rem;
    margin-top: 1.5rem;
  }
  .hamburger-icon {
    display: block;
    color: var(--text-color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 1rem;
    margin-top: 1.8rem;
    z-index: 1000;
  }
}

#menu_button {
  width: 39px;
  overflow: hidden;
  position: fixed;
}

#menu_checkbox {
  display: none;
}

#menu_label {
  position: relative;
  display: block;
  height: 28px;
  cursor: pointer;
}

#menu_label:before,
#menu_label:after,
#menu_text_bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
}

#menu_label:before,
#menu_label:after {
  content: "";
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before {
  top: 0;
}

#menu_label:after {
  top: 10px;
}

#menu_text_bar {
  top: 20px;
}

#menu_text_bar:before {
  content: "MENU";
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  color: var(--text-color);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#menu_checkbox:checked + #menu_label:before {
  left: -39px;
}

#menu_checkbox:checked + #menu_label:after {
  left: 39px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before {
  animation: moveUpThenDown 0.6s ease 0.2s forwards, shakeWhileMovingUp 0.7s ease 0.2s forwards,
    shakeWhileMovingDown 0.2s ease 0.7s forwards;
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
