@import url("https://fonts.googleapis.com/css?family=DynaPuff:700|DynaPuff:400");
:root {
  --background: linear-gradient(to left, #ece9e6, #ffffff);
  --primary-color: #18771a;
  --secondary-color: #7be5be;
  --accent-color: #2acbb8;
  --text-color: #082b0b;
  --active-text: rgba(77, 54, 208, 1);
  --box-shadow: rgba(0, 0, 0, 0.3);
  --menu-background: #0e220ee0;
  --background-image: url("/src/assets/images/lightbackground.svg");
  --skills-card-background-color: #0d1f22b3;
  --nav-background: #ecf6e9;
}
* {
  padding: 0;
  margin: 0;
  scroll-padding-top: 3em !important;
  box-sizing: border-box;
}

html,
body {
  background: var(--background);
  scroll-behavior: smooth;
  font-family: "DynaPuff" !important;
  font-weight: 400;
}

[data-theme="light"] {
  --text-color: #082b0b;
  --background: linear-gradient(to left, #ece9e6, #ffffff);
  --primary-color: #2b772c;
  --accent-color: #f6f03c;
  --secondary-color: #7be5be;
  --box-shadow: rgba(0, 0, 0, 0.3);
  --menu-background: rgba(2, 16, 2, 0.883);
  --background-image: url("/src/assets/images/lightbackground.svg");
  --skills-card-background-color: #0d1f22df;
  --menu-list: #b9c087;
  --active-text: #67d448;
  --nav-background: #ecf6e9;
}

[data-theme="dark"] {
  --nav-background: #0a2004;
  --text-color: #d4f7d7;
  --background: linear-gradient(to left, #263826, #030c03);
  --primary-color: #87d488;
  --secondary-color: #d4f7f7;
  --accent-color: #941524;
  --active-text: #67d448;
  --menu-background: #0e220ee0;
  --box-shadow: #d4f7d7;
  --background-image: url("/src/assets/images/darkbackground.svg");
  --skills-card-background-color: #46732f53;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "undefined";
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

ul {
  font-size: 1rem; /* 12px */
}
