@import url("https://fonts.googleapis.com/css?family=DynaPuff:700|DynaPuff:400");
:root {
  --background: #f3fcf3;
  --primary-color: #18771a;
  --secondary-color: #7be5be;
  --accent-color: #2acbb8;
  --text-color: #082b0b;
  --active-text: #297f4c;
  --box-shadow: rgba(0, 0, 0, 0.3);
  --menu-background: rgba(130, 197, 130, 0.971);
  --background-image: url("/src/assets/images/lightbackground.svg");
}
* {
  padding: 0;
  margin: 0;
  scroll-padding-top: 3em;
  box-sizing: border-box;
}

html,
body {
  background: var(--background);
  scroll-behavior: smooth;
  font-family: "DynaPuff" !important;
  font-weight: 400;
}

[data-theme="light"] {
  --text-color: #082b0b;
  --background: #f3fcf3;
  --primary-color: #2b772c;
  --secondary-color: #7be5be;
  --accent-color: #29f2da;
  --box-shadow: rgba(0, 0, 0, 0.3);
  --menu-background: rgba(130, 197, 130, 0.883);
  --background-image: url("/src/assets/images/lightbackground.svg");
}

[data-theme="dark"] {
  --text-color: #d4f7d7;
  --background: #030c03;
  --primary-color: #87d488;
  --secondary-color: #1a845d;
  --accent-color: #0dd9c1;
  --active-text: #0dd9c1;
  --menu-background: #1a331a97;
  --box-shadow: #d4f7d7;
  --background-image: url("/src/assets/images/darkbackground.svg");
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "undefined";
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

ul {
  font-size: 1rem; /* 12px */
}
